.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-10%, -30%);
}
.centrado2{
    position: relative;
      left: 25%;
    max-width: 50%;
}

.centrado3{
    position: relative;
      left: 10%;
    max-width: 80%;
}

.form {
  text-align: center;

}
    .gris {
      background-color: rgb(120,120,120);
    }
